$font-color: #FAD90D;
$font-alternative-color: #FDA800;
$link-color: #E3AE00;
$accent-color: #C1FD00;
$background-color: #222222;
$background-alternative-color: #e0fbfc;
$footer-background-color: #444;
$footer-color: #aaa;
$block-codes-border-color: #E3AE00;
$code-border-color: #E3AE00;
$code-background-color: #555555;
$border-color: #E3AE00;
$main-color: #121212;
$imgfilter: contrast(200%);

$main-font-size: 1em;
$main-line-height: 1.6;
$magic-number: $main-font-size * $main-line-height;
