$font-color: #fad90d;
$font-alternative-color: #fda800;
$link-color: #e3ae00;
$accent-color: #c1fd00;
$background-color: #222;
$background-color2: #333;
$background-alternative-color: #e0fbfc;
$footer-background-color: #444;
$footer-color: #fad90d;
$block-codes-border-color: #e3ae00;
$code-border-color: #e3ae00;
$code-background-color: #555;
$border-color: #e3ae00;
$main-color: #121212;
$imgfilter: contrast(200%);
$menu-link: e3ae00;

$main-font-size: 1em;
$main-line-height: 1.6;
$magic-number: $main-font-size * $main-line-height;
