body {
    background-color: $background-color;
    color: $font-color;
    padding-left: 2em;
    padding-right: 2em;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    width: 64em;
    margin: 2em auto;
}

@media (max-width: 767px) {
    .main {
        width: 96%;
    }

}
