$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;
$footer-background-color: #444;
$footer-color: #fff;
$block-codes-border-color: #f5f5f5;
$code-border-color: #ccc;
$code-background-color: #f5f5f5;
$border-color: #ccc;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
