$font-color: #000;
$font-alternative-color: #fff;
$link-color: #444;
$accent-color: #ee6c4d;
$background-color: #1fbded;
$background-alternative-color: #11D6D0;
$footer-background-color: #444;
$footer-color: #144AF7; //Texten i footer
$block-codes-border-color: #f5f5f5;
$code-border-color: #ccc;
$code-background-color: #f5f5f5;
$border-color: #ccc;
$main-color: #1174D6;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
